<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/static/blog_global.css" />
    <link rel="stylesheet" href="/static/blog_index.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Aclonica:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Adamina:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="main-blog">
      <header class="header-frame">
        <div class="main-logo-container">
          <div class="frame-parent">
            <div class="secondary-text-frame-wrapper">
              <div class="secondary-text-frame">
                <div class="rectangle"></div>
                <img
                  class="main-logo-1-icon"
                  loading="eager"
                  alt=""
                  src="./public/main-logo-1@2x.png"
                  id="mainLogo1Image"
                />

                <div class="secondary-text-frame-inner" id="groupContainer">
                  <div class="rectangle-parent">
                    <div class="frame-child"></div>
                    <h1 class="donate">Donate</h1>
                  </div>
                </div>
                <div class="rectangle-group">
                  <div class="rectangle1"></div>
                  <div class="rectangle2"></div>
                  <div class="rectangle3"></div>
                  <div class="rectangle4"></div>
                  <div class="rectangle5"></div>
                  <div class="rectangle6"></div>
                  <div class="rectangle7"></div>
                  <div class="rectangle8"></div>
                  <div class="rectangle9"></div>
                  <div class="rectangle10"></div>
                  <div class="rectangle11"></div>
                  <div class="rectangle12"></div>
                  <div class="rectangle13"></div>
                  <div class="rectangle14"></div>
                  <div class="rectangle15"></div>
                  <div class="rectangle16"></div>
                  <div class="rectangle17"></div>
                  <div class="rectangle18"></div>
                </div>
              </div>
            </div>
            <div class="content-frame">
              <div class="footer-text"></div>
              <div class="frame"></div>
              <div class="go">GO</div>
            </div>
          </div>
        </div>
      </header>
      <main class="subtitle-text-frame">
        <section class="frame-with-text-and-frame">
          <h1 class="easy-green-resolutions">
            12 Easy Green Resolutions for Every Month of the Year
          </h1>
          <div class="f-s-c-logo-group-wrapper">
            <div class="f-s-c-logo-group">
              <div class="f-s-c-info-frame">
                <h3 class="some-may-argue-container">
                  <p class="some-may-argue">
                    Some may argue that given the enormous scope of what needs
                    to be done to combat climate change, individual actions –
                    aside from voting – may not matter all that much.
                  </p>
                  <p class="but-i-disagree">
                    But I disagree. Every action has a consequence, no matter
                    how small. Stop using straws and maybe that one action saves
                    a sea turtle. Can individual choices make a large impact? It
                    may be hard to quantify, but it's safe to say that we all
                    have to be on board with change if we expect to right this
                    ship.With that in mind, here are areas to focus on in the
                    new year, a simple resolution for every month – why should
                    January 1 get all the fun? Even if you just make a little
                    bit of progress each month, the effect will be cumulative
                    and you will have made a difference.
                  </p>
                  <p class="blank-line">&nbsp;</p>
                  <p class="decluttering-is-a">
                    Decluttering is a hot topic in January, a great restart
                    after a season of excess. If you're wondering why Declutter
                    is sustainable, it's because of the promise of maintaining a
                    more minimalist lifestyle. As in, stepping off of the
                    consumer bandwagon and deciding not to participate in the
                    harmful cycle of buying stuff that eventually ends up in the
                    landfill.
                  </p>
                  <p class="blank-line1">&nbsp;</p>
                  <p class="its-february-in">
                    It's February, in much of the world, it's cold! But don't be
                    the person who cranks up the thermostat to mimic the balmy
                    climes of exotic locales. An informal poll of TreeHugger
                    writers reveals a thermostat range of 63 to 68 degrees F in
                    the winter – with all kinds of ways to stay cozy that don't
                    involve
                  </p>
                  <p class="blank-line2">&nbsp;</p>
                  <p class="blank-line3">&nbsp;</p>
                  <p class="blank-line4">&nbsp;</p>
                  <p class="blank-line5">&nbsp;</p>
                  <p class="blank-line6">&nbsp;</p>
                  <p class="blank-line7">&nbsp;</p>
                  <p class="blank-line8">&nbsp;</p>
                  <p class="blank-line9">&nbsp;</p>
                  <p class="blank-line10">&nbsp;</p>
                  <p class="blank-line11">&nbsp;</p>
                  <p class="blank-line12">&nbsp;</p>
                  <p class="blank-line13">&nbsp;</p>
                  <p class="blank-line14">&nbsp;</p>
                  <p class="blank-line15">&nbsp;</p>
                  <p class="blank-line16">&nbsp;</p>
                  <p class="blank-line17">&nbsp;</p>
                  <p class="blank-line18">&nbsp;</p>
                  <p class="blank-line19">&nbsp;</p>
                  <p class="blank-line20">&nbsp;</p>
                  <p class="blank-line21">&nbsp;</p>
                  <p class="blank-line22">&nbsp;</p>
                  <p class="blank-line23">&nbsp;</p>
                  <p class="blank-line24">&nbsp;</p>
                  <p class="blank-line25">&nbsp;</p>
                  <p class="if-you-eat">
                    If you eat meat and dairy and are reluctant to go to a fully
                    plant-based diet, it's ok. Even just the amount of animal
                    products you consume can have a huge impact. If Americans
                    even just swapped beef for beans, the US would immediately
                    realize 50 to 75 percent of its emissions reduction targets.
                  </p>
                  <p class="blank-line26">&nbsp;</p>
                  <p class="we-live-in">
                    We live in a world where people drive two miles to the gym
                    so that they can walk for two miles on the treadmill.
                    Meanwhile, emissions from cars are killing the planet. Think
                    about ways in which you can drive less (or not at all!) and
                    transport yourself by feet or bike
                  </p>
                  <p class="blank-line27">&nbsp;</p>
                  <p class="its-like-the">
                    It's like the fight song of environmentalists everywhere:
                    Eat local! While every once in a while there is a study
                    saying that buying locally doesn't make a difference – they
                    usually aren't taking into consideration all the factors.
                    Opting to buy food grown locally has enormous benefits, from
                    supporting local farmers and boosting the local economy to
                    saving transportation fuel and preserving open space. Not to
                    mention sidestepping the food-borne illnesses that come from
                    a broken food system.
                  </p>
                  <p class="blank-line28">&nbsp;</p>
                  <p class="to-many-of">
                    . To many of us, the idea of not traveling by air is a hard
                    thing to consider. We may have the best green intentions,
                    but giving up airplanes is a hard sell. As George Monbiot so
                    succinctly puts it:
                  </p>
                  <p class="blank-line29">&nbsp;</p>
                  <p class="if-we-want">
                    "If we want to stop the planet from cooking, we will simply
                    have to stop traveling at the kind of speeds that planes
                    permit. This is now broadly understood by almost everyone I
                    meet. But it has had no impact whatever on their behavior.
                    When I challenge my friends about their planned weekend in
                    Rome or their holiday in Florida, they respond with a
                    strange, distant smile and avert their eyes. They just want
                    to enjoy themselves. Who am I to spoil their fun? The moral
                    dissonance is deafening."
                  </p>
                  <p class="blank-line30">&nbsp;</p>
                  <p class="ok-giving-up">
                    OK, giving up straws is easier than giving up airplanes –
                    this one seems relatively painless! Of course, some people
                    need to use straws, but for the rest of us, just say no.
                    There is a lot of debate about whether or not giving up
                    straws is really going to address our prodigious plastic
                    problem – but like the starfish parable above, one less
                  </p>
                  <p class="blank-line31">&nbsp;</p>
                  <p class="it-has-been">
                    It has been pretty great that science has designed magical
                    potions that we can smear on our skin to prevent being
                    burned by that giant star upstairs. Unfortunately, some of
                    the ingredients in those magical potions work like an evil
                    hex on the world's corals. Ugh. But all is not lost, there
                    are sunscreens that are reef-friendly, and a great
                    resolution for August is to start using them.
                  </p>
                  <p class="blank-line32">&nbsp;</p>
                  <p class="as-the-thermometer">
                    As the thermometer starts its annual decline downwards, the
                    farmers markets swing into peak abundance. If you love and
                    have the know-how, it's a fabulous way to take advantage of
                    all this local produce and store it away for the cooler
                    months. But for those of us not well-practiced in the art of
                    sterilizing jars and water baths, the
                  </p>
                  <p class="blank-line33">&nbsp;</p>
                  <p class="as-feasting-season">
                    As feasting season goes into high gear, so does wasting
                    season. So. Much. Food. Waste. And if you don't think it's
                    such a big deal, consider this: If food waste were a
                    country, it would place third – following the US and China –
                    for impact on global warming. Chad Frischmann, vice
                    president and research director at Project Drawdown,
                  </p>
                  <p class="blank-line34">&nbsp;</p>
                  <p class="note-this-resolution">
                    Note: This resolution may not apply to pandemic years, since
                    air travel will likely be curtailed anyway.
                  </p>
                  <p class="blank-line35">&nbsp;</p>
                  <p class="ah-december-a">
                    Ah, December. A month devoted to family, holidays,
                    gatherings, and feasts. And shopping, shopping, shopping.
                    What have we become?! The average American spends $700 on
                    holiday gifts each year, totaling more than $465 billion.
                    Think of all the
                  </p>
                  <p class="blank-line36">&nbsp;</p>
                  <p class="imagine-if-you">
                    Imagine if you make even a little progress with these 12
                    resolutions – the planet would be that much better off.
                    Saving the world, one starfish at a time. Happy new year!
                  </p>
                </h3>
                <div class="indigenous-label">
                  <div class="why-forests-matter"></div>
                  <img
                    class="oip-1-icon"
                    loading="eager"
                    alt=""
                    src="./public/oip-1@2x.png"
                  />

                  <img
                    class="zb7wg-1-icon"
                    loading="eager"
                    alt=""
                    src="./public/2zb7wg-1@2x.png"
                  />
                </div>
              </div>
              <div class="background-rectangle"></div>
            </div>
          </div>
        </section>
      </main>
      <footer class="rectangle-container">
        <img class="rectangle-icon" alt="" src="./public/rectangle.svg" />

        <div class="questions-contact-us">
          <div class="header-frame1">
            <div class="mainlogo-rectangle">
              <img
                class="main-logo-2-1-icon"
                loading="eager"
                alt=""
                src="./public/main-logo-2-1@2x.png"
              />

              <div class="call-to-action">
                <div class="questions">Questions?</div>
                <div class="contact-us">Contact Us</div>
              </div>
            </div>
            <div class="stay-informed">Stay informed.</div>
          </div>
        </div>
        <div class="governance-f-s-c-frame">
          <div class="explore">Explore</div>
          <div class="standards-transparency-frame">
            <div class="standards-transparency">Standards Transparency</div>
            <div class="our-history-frame">
              <div class="standards-transparency1">Standards Transparency</div>
              <div class="why-forests-matter1">Why Forests Matter</div>
              <div class="f-s-c-standards-text">
                <div class="why-forests-matter2">Why Forests Matter</div>
                <div class="our-history">Our History</div>
              </div>
              <div class="f-s-c-standards-text1">
                <div class="our-history1">Our History</div>
                <div class="explore-certification">Explore Certification</div>
              </div>
            </div>
          </div>
          <div class="what-the-fsc">What the FSC Labels Mean</div>
          <div class="governance">Governance</div>
          <div class="fsc-indigenous-foundation">FSC Indigenous Foundation</div>
        </div>
        <div class="fsc-standards-parent">
          <div class="fsc-standards">FSC Standards</div>
          <div class="currentprocesses">
            <div class="current-processes">Current Processes</div>
            <div class="current-processes-parent">
              <div class="current-processes1">Current Processes</div>
              <div class="chain-of-custody">Chain of Custody</div>
              <div class="chain-of-custody-f-s-c-standar">
                <div class="chain-of-custody1">Chain of Custody</div>
                <div class="fsc-standards1">FSC Standards</div>
              </div>
            </div>
          </div>
          <div class="case-management-report">
            <div class="system-integrity">System Integrity</div>
            <div class="case-management">Case Management</div>
            <div class="current-cases">Current cases</div>
            <div class="report-a-problem">Report a problem</div>
          </div>
        </div>
        <div class="quick-links-parent">
          <div class="quick-links">Quick links</div>
          <div class="document-centre-info">
            <div class="document-centre">Document Centre</div>
            <div class="membersportal">
              <div class="members-portal">Members Portal</div>
              <div class="members-portal1">Members Portal</div>
            </div>
          </div>
          <div class="newscentre">
            <div class="news-centre">News Centre</div>
            <div class="news-centre1">News Centre</div>
          </div>
          <div class="careers-and-donations">
            <div class="careers">Careers</div>
            <div class="donate1">Donate</div>
            <div class="facts-figures">Facts & Figures</div>
          </div>
        </div>
      </footer>
    </div>

    <script>
      var mainLogo1Image = document.getElementById("mainLogo1Image");
      if (mainLogo1Image) {
        mainLogo1Image.addEventListener("click", function (e) {
          // Please sync "Home" to the project
        });
      }
      
      var groupContainer = document.getElementById("groupContainer");
      if (groupContainer) {
        groupContainer.addEventListener("click", function (e) {
          // Please sync "Frame" to the project
        });
      }
      </script>
  </body>
</html>
