<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="static/news_global.css" />
    <link rel="stylesheet" href="static/news_index.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto Condensed:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="news-and-event-update">
      
      <section class="event-frame">
        <div class="content-frame">
          <div class="rectangle-frame">
            <header class="text-frame">
              
              <div class="news-update-frame">
                <img
                  class="news-update-frame-child"
                  loading="eager"
                  alt=""
                  src="./public/group-1.svg"
                />

                <div class="image-frame">
                  <div class="rectangle"></div>
                  <img
                    class="ellipse-shape-icon"
                    loading="eager"
                    alt=""
                    src="./public/rectangle-28@2x.png"
                    id="ellipseShapeImage"
                  />

                  <div class="image-frame-inner" id="groupContainer">
                    <div class="rectangle-parent">
                      <div class="frame-child"></div>
                      <h1 class="donate">
                        <p class="donate1">Donate</p>
                      </h1>
                    </div>
                  </div>
                </div>
              </div>
            </header>
            <div class="stay-informed">
              <div class="explore-frame">
                <div class="standards-transparency">
                  <div class="our-history-frame">
                    <div class="news-frame">
                      <img
                        class="news-and-update"
                        loading="eager"
                        alt=""
                        src="./public/news-and-update.svg"
                      />
                    </div>
                    <img
                      class="this-page-has-news-and-updates"
                      loading="eager"
                      alt=""
                      src="./public/this-page-has-news-and-updates-about-our-environmental-work-learn-more-about-what-we-do-why-we-do-it-and-how-you-can-help-visit-often-to-stay-informed-join-us-donate-subscribe-or-contact-us-thank-you-for-your-support-together-we-can-makeadifference.svg"
                    />
                  </div>
                  <div class="events-frame">
                    <div class="rectangle-frame1">
                      <div class="tree-planting-text">
                        <div class="brooklyn-book-club-text"></div>
                        <img
                          class="image-2-icon"
                          loading="eager"
                          alt=""
                          src="./public/image-2@2x.png"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <img
                  class="events-near-icon"
                  loading="eager"
                  alt=""
                  src="./public/events-near.svg"
                />
              </div>
            </div>
            <div class="three-frames-group">
              <div class="beach-team-text">
                <div class="frame-with-three-children">
                  <img
                    class="rectangle-icon"
                    alt=""
                    src="./public/rectangle.svg"
                  />

                  <img
                    class="rectangle-icon1"
                    alt=""
                    src="./public/rectangle.svg"
                  />

                  <img
                    class="rectangle-icon2"
                    alt=""
                    src="./public/rectangle-1.svg"
                  />

                  <img
                    class="rectangle-icon3"
                    alt=""
                    src="./public/rectangle.svg"
                  />
                </div>
                <div class="stay-informed-text">
                  <div class="frame10"></div>
                  <div class="frame11"></div>
                  <div class="frame12"></div>
                  <div class="frame13"></div>
                  <div class="frame14"></div>
                  <div class="frame15"></div>
                  <div class="frame16"></div>
                  <div class="frame17"></div>
                  <div class="frame18"></div>
                  <div class="explore-link-text">
                    <div class="standards-transparency-text">
                      <div class="why-forests-matter-text">
                        <div class="governance-text">
                          <div class="our-history-text">
                            <h1 class="beach-team">Beach team</h1>
                          </div>
                          <h3 class="fun-and-eco-friendly">
                            Fun and Eco-Friendly Way to Spend Your Day
                          </h3>
                        </div>
                        <img
                          class="fri-jan-19-530-am-ist"
                          loading="eager"
                          alt=""
                          src="./public/fri-jan-19--530-am-ist.svg"
                        />
                      </div>
                      <div class="date-frame">
                        <div class="team-frame">
                          <div class="event-title">
                            <h1 class="tree-planting">Tree planting</h1>
                          </div>
                          <img
                            class="brooklyn-book-club-intended-to"
                            loading="eager"
                            alt=""
                            src="./public/brooklyn-book-club-intended-to-provoke-interesting-thought.svg"
                          />
                        </div>
                        <div class="jan-mon">
                          <img
                            class="mon-jan-29-230-am-ist"
                            loading="eager"
                            alt=""
                            src="./public/mon-jan-29--230-am-ist.svg"
                          />
                        </div>
                      </div>
                      <div class="sun-sun">
                        <div class="reduce-reuse">
                          <h1 class="swap-party">Swap Party</h1>
                        </div>
                        <img
                          class="a-smart-and-stylish-way-to-red"
                          loading="eager"
                          alt=""
                          src="./public/a-smart-and-stylish-way-to-reduce-reuse-and-recycle.svg"
                        />

                        <img
                          class="sun-jan-21-930-pm-ist"
                          loading="eager"
                          alt=""
                          src="./public/sun-jan-21--930-pm-ist.svg"
                        />
                      </div>
                    </div>
                  </div>
                  <img
                    class="stay-informed-text-child"
                    alt=""
                    src="./public/group-7.svg"
                  />

                  <img
                    class="upcoming-online-events"
                    loading="eager"
                    alt=""
                    src="./public/upcoming-online-events.svg"
                  />

                  <div class="questions-contact-us">
                    <div class="stay-informed1">
                      <img
                        class="stay-informed-child"
                        loading="eager"
                        alt=""
                        src="./public/rectangle-38@2x.png"
                      />

                      <div class="standards-transparency1">
                        <div class="why-forests-matter">
                          <h1 class="park-clean-up">Park clean-up</h1>
                          <h1 class="volunteering">Volunteering</h1>
                          <h1 class="river-cleaning">River Cleaning</h1>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="vectors-collection">
        <div class="environment-news-frame">
          <div class="to-india-frame">
            <img
              class="environmental-news-icon"
              loading="eager"
              alt=""
              src="./public/environmental-news.svg"
            />
          </div>
          <div class="group-empty-vector">
            <div class="lokmat-times-frame"></div>
            <div class="hindustan-times-frame"></div>
            <div class="v-e-c-t-o-r-empty-frame">
              <img
                class="rectangle-icon4"
                alt=""
                src="./public/rectangle.svg"
              />

              <img
                class="times-of-india"
                loading="eager"
                alt=""
                src="./public/times-of-india.svg"
              />

              <div class="frame-with-text-vector">
                <div class="parent-frame-of-vectors">
                  <img
                    class="rectangle-icon5"
                    alt=""
                    src="./public/rectangle@2x.png"
                  />

                  <img
                    class="the-biden-administration-commi"
                    loading="eager"
                    alt=""
                    src="./public/the-biden-administration-commits-to-removing-roadblocks-that-have-stymied-small-organizations-in-the-past-from-applying-for-federal-funds-through-its-thriving-communities-program.svg"
                  />

                  <img
                    class="stay-informed-text1"
                    loading="eager"
                    alt=""
                    src="./public/stay-informed-text.svg"
                  />
                </div>
                <img
                  class="frame-with-text-vector-child"
                  loading="eager"
                  alt=""
                  src="./public/group-10.svg"
                />
              </div>
              <div class="our-history-text1">
                <div class="our-standards-text">
                  <div class="current-processes-text">
                    <img
                      class="rectangle-icon6"
                      alt=""
                      src="./public/rectangle@2x.png"
                    />

                    <img
                      class="in-2023-as-part-of-our-ongoin"
                      loading="eager"
                      alt=""
                      src="./public/in-2023-as-part-of-our-ongoing-effort-to-tackle-ecoanxiety-both-that-of-our-readers-and-our-own-we-kept-track-of-all-the-positive-environmental-news-throughout-the-year.svg"
                    />
                  </div>
                  <div class="system-integrity-text">
                    <img
                      class="hindustan-times-icon"
                      loading="eager"
                      alt=""
                      src="./public/hindustan-times.svg"
                    />
                  </div>
                </div>
                <div class="current-cases-text">
                  <div class="vector-collection">
                    <img
                      class="rectangle-icon7"
                      alt=""
                      src="./public/rectangle@2x.png"
                    />

                    <img
                      class="logo-group-icon"
                      loading="eager"
                      alt=""
                      src="./public/stay-informed-text.svg"
                    />
                  </div>
                  <div class="times-of-india-frame">
                    <img
                      class="lokmat-times-icon"
                      loading="eager"
                      alt=""
                      src="./public/lokmat-times.svg"
                    />
                  </div>
                </div>
              </div>
            </div>
            <img
              class="vector-icon"
              loading="eager"
              alt=""
              src="./public/stay-informed-text.svg"
            />
          </div>
        </div>
      </section>
      <footer class="frame-parent">
        <div class="frame19"></div>
        <div class="frame20"></div>
        <img
          class="vector-icon1"
          loading="eager"
          alt=""
          src="./public/stay-informed-text.svg"
        />

        <img class="rectangle-icon8" alt="" src="./public/rectangle.svg" />

        <div class="frame-wrapper">
          <div class="questions-contact-us-frame-parent">
            <div class="questions-contact-us-frame">
              <img
                class="main-logo-2-1-icon"
                loading="eager"
                alt=""
                src="./public/main-logo-2-1@2x.png"
              />

              <div class="text">
                <div class="questions">Questions?</div>
                <div class="contact-us">Contact Us</div>
              </div>
            </div>
            <div class="stay-informed2">Stay informed.</div>
          </div>
        </div>
        <div class="explore-parent">
          <h3 class="explore">Explore</h3>
          <div class="standards-transparency-parent">
            <div class="standards-transparency2">Standards Transparency</div>
            <div class="why-forests-matter1">Why Forests Matter</div>
            <div class="text1">
              <div class="our-history">Our History</div>
            </div>
            <div class="governance">Governance</div>
          </div>
        </div>
        <div class="our-standards-hub">
          <h3 class="our-standards">Our Standards</h3>
          <div class="our-standards1">
            <div class="current-processes">Current Processes</div>
            <div class="chain-of-custody">Chain of Custody</div>
          </div>
          <div class="chain-of-custody1">
            <h3 class="system-integrity">System Integrity</h3>
            <div class="case-management">
              <div class="case-management1">Case Management</div>
              <div class="current-cases">
                <div class="current-cases1">Current cases</div>
                <div class="report-a-problem">Report a problem</div>
              </div>
            </div>
          </div>
        </div>
        <div class="donate-link">
          <h3 class="quick-links">Quick links</h3>
          <div class="document-centre">
            <div class="document-centre1">Document Centre</div>
            <div class="donate2">
              <div class="news-centre">News Centre</div>
              <div class="donate3">Donate</div>
            </div>
          </div>
        </div>
      </footer>
    </div>

    <script>
      var ellipseShapeImage = document.getElementById("ellipseShapeImage");
      if (ellipseShapeImage) {
        ellipseShapeImage.addEventListener("click", function (e) {
          // Please sync "Home" to the project
        });
      }
      
      var groupContainer = document.getElementById("groupContainer");
      if (groupContainer) {
        groupContainer.addEventListener("click", function (e) {
          // Please sync "Frame" to the project
        });
      }
      </script>
  </body>
</html>
